<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Drag And Drop</a>
    </div>
  </div>
</nav>



<div class="container">
  <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader"
    (onFileDrop)="onFileDrop($event)" class="well my-drop-zone">
    <p>Drag &amp; Drop your images.</p>
  </div>



  <div *ngFor="let url of imagesUrl">
    <img src="{{url}}" class="img-rounded" alt="Cinque Terre" width="304" height="236">
  </div>
</div>